<app-tag-filter
  [selectedTags]="selectedTags()"
  (tagsChange)="onTagsChange($event)"
/>

<div #galleryContainer class="image-gallery">
  @for (row of layoutRows(); track row) {
    <div
      class="gallery-row"
      [class.last-row]="row.isLastRow"
      [style.height.px]="row.height"
      [style.gap.px]="row.spacing || 10"
      >
      @for (image of row.images; track image) {
        <div
          class="image-item"
          [style.width.px]="image.displayWidth"
          [style.height.px]="image.displayHeight"
          (click)="openModal(image)"
          >
          <img
            [ngSrc]="image.url"
            [width]="image.displayWidth"
            [height]="image.displayHeight"
            [alt]="image.alt || ''"
            />
          <div class="overlay">
            <div class="overlay-content">
              @if (image.alt) {
                <span class="image-alt">{{ image.alt }}</span>
              }
              @if (image.tags && image.tags.length > 0) {
                <div class="image-tags">
                  @for (tag of image.tags; track tag) {
                    <span class="image-tag">{{ tagLabels[tag] }}</span>
                  }
                </div>
              }
            </div>
          </div>
        </div>
      }
    </div>
  }
</div>

@if (selectedImage(); as img) {
  <app-image-modal
    [image]="img"
    [images]="allImages"
    (close)="closeModal()"
    (navigate)="navigateToImage($event)"
  />
}