:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --accent-color: #f8f9fa;
  --accent-color-rgb: 248, 249, 250;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
}

a {
  color: var(--secondary-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #16171b;
    --text-color: #ffffff;
    --primary-color: #66b3ff;
    --secondary-color: #99a3a4;
    --accent-color: #212529;
    --accent-color-rgb: 33, 37, 41;
  }
}